.wrapper {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at top, #2a2a2a, #0f0f0f);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-top-color: #d6ff3f;
  animation: spin 1s linear infinite;
}

.text {
  margin-top: 24px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
