.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: gray;
      border-radius: 100%;
      width: 35px;
      height: 35px;
    }
  }
  h1 {
    font-size: 20px;
    color: white;
  }
  h3 {
    text-align: start;
  }
  p {
    font-size: 14px;
    text-align: start;
  }
}
