* {
  box-sizing: border-box;
}

.profilePage {
  padding-top: 20px;
  background: linear-gradient(180deg, #672dca 0%, #1a1a1a 10%);
  color: #fff;
}

.profileContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.avatarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  margin-bottom: 24px;
}

.avatar {
  position: relative;
  display: inline-block;
}

.avatarCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #666;
  border: 3px solid white;
}

.avatarImage {
  border: 3px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.editAvatar {
  position: absolute;
  right: 5px;
  bottom: -8px;
  font-size: 24px;
  background-color: none;
}

.achievementImage {
  width: 25px;
  height: 25px;
}

.subtitle {
  color: #999;
  font-size: 14px;
}

.statsGrid {
  display: flex;
  justify-content: space-around;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
}

.statValue {
  font-size: 18px;
  font-weight: 600;
}

.statLabel {
  color: #999;
  font-size: 12px;
}

.editProfileBtn {
  width: 100%;
  margin: 24px 0;
  padding: 16px;
  background: #d4ff00;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

/* MODAL */

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalContent {
  background: #2a2a2a;
  border-radius: 16px;
  padding: 24px;
  margin-top: 40px;
  width: 90%;
  max-width: 400px;
}

.backButton {
  background: #d4ff00;
  border-radius: 50%;
  border: none;
  width: 36px;
  height: 36px;
}

.editForm {
  margin-top: 40px;
}

.formGroup {
  margin-bottom: 16px;

  label {
    display: block;
    color: #999;
    margin-bottom: 6px;
  }

  input,
  select {
    width: 100%;
    padding: 12px;
    background: #1a1a1a;
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    color: white;
  }
}

.submitButton {
  width: 100%;
  padding: 16px;
  background: #d4ff00;
  border-radius: 12px;
  border: none;
  font-weight: 600;
}

.trainees {
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: -2px 5px 10px rgba(34, 60, 80, 0.186);
}

.trainee {
  padding: 5px 15px;
  border-radius: 10px;
  padding: 15px;
  background: #313131;
  display: flex;
  justify-content: space-between;
  &_labelContainer {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.achievements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  justify-content: center;
  gap: 20px;
  &_title {
    font-size: 20px;
    margin: 30px 0 10px;
  }
}

.coach_speech {
  text-align: center;
  background-color: #666;
  padding: 15px;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  background: #1e1e1e;
  border-radius: 20px;
  padding: 24px;
  width: 540px;
  height: 80vh;
  text-align: center;
  color: white;
  p {
    text-align: start;
  }
  scrollbar-width: thin; // Firefox
  scrollbar-color: #2a2a2a transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #3a3a3a;
  }
}

@media (max-width: 628px) {
  .overlay {
    position: fixed;
  }
  .modal {
    position: fixed;
    display: flex;
    top: 10vh;
    overflow-x: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    border-radius: 20px;
    overflow-x: auto;
    padding: 24px;
    width: 80%;
    height: 80vh;
    text-align: center;
    color: white;
  }
}

.adminLink {
  background: none;
  color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(192, 192, 0);
}
