.wrapper {
  min-height: 100vh;
  padding: 16px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  &_skip {
    display: flex;
    justify-content: end;
    background: none;
    border: none;
    font-size: 16px;
    color: #8f9aa2;
  }
  &_next {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &_subscription {
    margin: 45px 15px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  &_title {
    font-weight: 700;
    font-size: 24px;
  }
  &_text {
    font-size: 20px;
    line-height: 150%;
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #d9d9d9;
  border-radius: 50%;
}

.activeDot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #e2f163 !important;
}

.agreementText {
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  background-color: #ffffff05;
}
