.wrapper {
  min-height: 100vh;
  padding: 16px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_skip {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 16px;
    color: #8f9aa2;
  }
  &_next {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  &_title {
    font-weight: 700;
    font-size: 24px;
  }
  &_text {
    font-size: 20px;
    line-height: 150%;
  }
}

.dots {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  background: #d9d9d9;
  border-radius: 50%;
}

.activeDot {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #39b9b4 !important;
}
