.custom__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #e2f163;
  position: relative;
  width: 100%;
  color: black;
  height: 48px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  padding: 8px 10px;
  transition: all 0.2s ease;
  cursor: pointer;

  &_secondary {
    background: none;
    padding: 6px 10px;
    border: 1px solid #e2f163;
    border-radius: 10px;
    color: #e2f163;
  }
  &_loader {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
