.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;

  &_label {
    font-size: 20px;
    flex: 1;
  }
  &_checkMark {
    position: relative;
    display: inline-block;
    width: 24px;
    min-height: 24px;
    background: green;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;

    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 7px;
      top: 2px;
      width: 8px;
      height: 16px;
      border: solid yellow;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox']:checked + .checkbox_checkMark::after {
  display: block;
}
