.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10px;
  padding: 5%;
  color: white;
  &_trainee {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 20px;
    }
  }
}

.trainee {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #672dca;
  padding: 20px;
  align-items: center;
  border-radius: 15px;
  p {
    color: white;
  }
}

.calories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.segments {
  background: #313131;
  padding: 5px 15px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: -2px 5px 10px rgba(34, 60, 80, 0.186);
}

.segments {
  .segment:last-child {
    border-bottom: none;
  }
}

.segment {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  &_color {
    width: 7px;
    height: 7px;
    border-radius: 100%;
  }
  &_labelContainer {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
